@charset "UTF-8";

* {
		margin: 0px;
		box-sizing: border-box;
		padding: 0px;
}

body{
		background-color: #003d76;
		text-align: justify;
		color: #9eb3c9;
}

.panel-superior{
		background-color: #9eb3c9;
		align-items: center;
		min-height: 7vh;
		display: flex;
		margin: auto;
		justify-content: space-around;
		z-index: 2;
}

.panel-superior a:hover{
		background-color: #aeb3c9;
}

.panel-superior a{
		text-align: center;
		padding: 4px;
		color: #003d76;
		text-decoration: none;
		font-size: 24px;
		font-weight: bold;
}

.button{
		border: none;
		background-color: #9eb3c9;
		color: #003d76;
		padding: 8px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		font-family: 'roboto mono';
		border-radius: 8px;
}

.panel-inferior{
		position: sticky;
		padding: 10px;
		background-color: #9eb3c9;
		color: #003d76;
		bottom: 0px;
		text-align: center;
}

.patrocinio{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
}

.info{
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: justify;
		margin: auto;
		max-width: 980px;
		z-index: 1;
}

.principal{
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: justify;
		margin: auto;
}

h1, h2, h3, h4, h5, h6 {
		font-family:'tecnaheavy';
}

.principal h1 {
		font-size: 7vw;
}

.principal h2 {
		font-size: 5vw;
}

.principal h3 {
		font-size: 4vw;
}

.principal h4 {
		font-size: 3vw;
}

.principal p {
		font-size: 2.5vw;
}

p {
		font-family: 'Roboto Mono';
}

.columna {
		display: flex;
		flex-direction: column;
		align-items: center;
		float: left;
		width: 50%;
		padding: 10px;
		height: auto;
}

.fila:after {
		content: "";
		display: table;
		clear: both;
}

@font-face {
		font-family: tecnaheavy;
		src: url(statics/fonts/TecnaHeavy.otf);
}

.right{
		float: right;
		font-family: 'Roboto Mono';
}

.logo {
		font-size: 28px;
		font-family: 'tecnaheavy';
}

.movil {
		display: none;
		cursor: pointer;
}

.movil div {
		width: 25px;
		height: 4px;
		background-color: #003d76;
		margin: 5px;
}

@media screen and (max-width:786px) {
		* {
				margin: 0px;
				box-sizing: border-box;
				padding: 0px;
		}

		body{
				background-color: #003d76;
				text-align: justify;
				color: #9eb3c9;
				overflow-x: hidden;
		}

		.panel-superior{
				background-color: #9eb3c9;
				align-items: center;
				min-height: 7vh;
				display: flex;
				margin: auto;
				right: 0px;
				justify-content: space-around;
				position: fixed;
				top: 0px;
				width: 100%;
		}

		.right{
				display: flex;
				flex-direction: column;
				position: fixed;
				background-color: #9eb3c9;
				right: 0px;
				height: 93vh;
				top: 7vh;
				font-family: 'Roboto Mono';
				justify-content: center;
				justify-content: space-around;
				transform: translateX(100%);
				transition: transform 0.5s ease-in;
		}

		.movil {
				display: block;
		}

		.movil div {
				width: 25px;
				height: 4px;
				background-color: #003d76;
				margin: 5px;
		}

		.panel-superior a{
				display: flex;
				text-align: center;
				justify-content: center;
				align-items: center;
				padding: 4px;
				height: 13%;
				color: #003d76;
				text-decoration: none;
				font-size: 16px;
				font-weight: bold;
		}

		.panel-inferior{
				padding: 10px;
				position: inherit;
				background-color: #9eb3c9;
				color: #003d76;
				bottom: 0px;
				text-align: center;
		}

		.patrocinio{
				overflow: scroll;
				margin: initial;
		}

		.info{
				display: flex;
				justify-content: center;
				flex-direction: column;
				text-align: justify;
				margin: auto;
				max-width: 980px;
				padding: 7vh 0 0 0;
		}

		.principal{
				display: flex;
				justify-content: center;
				flex-direction: column;
				text-align: justify;
				margin: auto;
				padding: 7vh 0 0 0;
		}

		.principal img{
				width: 98vw;
				overflow: hidden;
		}

		.button{
				border: none;
				background-color: #9eb3c9;
				color: #003d76;
				padding: 8px;
				text-align: center;
				text-decoration: none;
				cursor: pointer;
				font-family: 'roboto mono';
				border-radius: 8px;
		}

		h1, h2, h3, h4, h5, h6 {
				font-family:'tecnaheavy';
		}

		.principal h1 {
				font-size: 3em;
		}

		.principal h2 {
				font-size: 2em;
		}

		.principal h3 {
				font-size: 1.5em;
		}

		.principal h4 {
				font-size: 1em;
		}

		.principal p {
				font-size: 0.8em;
		}

		p {
				font-family: 'Roboto Mono';
		}

		@font-face {
				font-family: tecnaheavy;
				src: url(statics/fonts/TecnaHeavy.otf);
		}

		.logo {
				font-family: 'tecnaheavy';
		}

		.columna {
				float: initial;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
		}

		.fila:after {
		  content: "";
		  clear: both;
		  margin: auto;
		}

}

.activo {
		transform: translateX(0%);
}
